@model List<OrderHeader>

@{
    ViewData["Title"] = "Order List";
}

<div class="container pt-4 pb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    <h1>Order List</h1>
                </div>

                <div class="d-flex justify-content-between pb-5 pt-2">
                    <span></span>
                    <div>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="pending">Payment Pending</a>
                            </li>
                            <li class="list-group-item">
                                <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="completed">Completed</a>
                            </li>
                            <li class="list-group-item">
                                <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">Approved</a>
                            </li>
                            <li class="list-group-item">
                                <a style="text-decoration: none;" asp-controller="Order" asp-action="Index" asp-route-status="all">All</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body">
                    <table id="tblData" class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Ordered Person Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Order Total</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Order.js"></script>
}
