@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="card mt-5">
        <h5 class="card-header text-center">@ViewData["Title"]</h5>
        <div class="card-body">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-center">Create a new account</h2>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Confirm Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Role" class="form-label">Role</label>
                    <select id="roleSelect" asp-for="Input.Role" asp-items="@Model.Input.Roles" class="form-select">
                        <option disabled selected>--- Select Role ---</option>
                    </select>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>

                <div id="companyDropdown" class="mb-3" style="display: none;">
                    <label asp-for="Input.CompanyId" class="form-label">Company</label>
                    <select asp-for="Input.CompanyId" asp-items="@Model.Input.CompanyList" class="form-select">
                        <option disabled selected>--- Select Company ---</option>
                    </select>
                    <span asp-validation-for="Input.CompanyId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.StreetAdress" class="form-label">Street Address</label>
                    <input asp-for="Input.StreetAdress" class="form-control" placeholder="Street Address" />
                    <span asp-validation-for="Input.StreetAdress" class="text-danger"></span>
                </div>

                <div class="row g-3">
                    <div class="col-md-6">
                        <label asp-for="Input.City" class="form-label">City</label>
                        <input asp-for="Input.City" class="form-control" placeholder="City" />
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Input.State" class="form-label">State</label>
                        <input asp-for="Input.State" class="form-control" placeholder="State" />
                        <span asp-validation-for="Input.State" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.PostalCode" class="form-label">Postal Code</label>
                    <input asp-for="Input.PostalCode" class="form-control" placeholder="Postal Code" />
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('#roleSelect').change(function () {
                var selectedRole = $(this).val();
                if (selectedRole === 'Company') {
                    $('#companyDropdown').show();
                    $('#Input_CompanyId').prop('required', true);
                } else {
                    $('#companyDropdown').hide();
                    $('#Input_CompanyId').prop('required', false);
                }
            });
        });
    </script>
}
